.navbar {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--belgrano-negro) !important;
  border-bottom: 3px solid var(--belgrano-blanco);
  transition: border-color 0.3s;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-weight: 500;
  transition: color 0.3s ease;
  color: var(--belgrano-gris-medio) !important;
}

/* Ícono de usuario celeste por defecto */
.nav-link.text-belgrano-celeste {
  color: var(--belgrano-celeste) !important;
}

.nav-link:hover, .nav-link:focus {
  color: var(--belgrano-blanco) !important;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.social-links a {
  font-size: 1.5rem;
  transition: opacity 0.3s ease;
}

.social-links a:hover {
  opacity: 0.8;
}

.btn-light {
  background-color: var(--belgrano-blanco);
  border: none;
  transition: transform 0.3s ease;
}

.btn-light:hover {
  transform: scale(1.05);
  background-color: var(--belgrano-gris-claro);
}

.navbar-brand img {
  object-fit: contain;
  height: 70px !important;
  width: auto !important;
  max-width: 200px;
}

.btn-link {
  text-decoration: none;
}

.btn-link:hover {
  transform: scale(1.1);
}

:root {
  --navbar-height: 100px; /* Ajusta este valor según la altura real del navbar */
} 