<footer class="bg-belgrano-negro text-white py-4 mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Club Atlético Belgrano</h5>
        <p>Tu club, tu pasión.<br/>Desarrollado por Facundo Andrés Menzi.</p>
      </div>
      <div class="col-md-4">
        <h5>Enlaces Útiles</h5>
        <ul class="list-unstyled">
          <li><a routerLink="/faq" class="text-belgrano-celeste text-decoration-none">Preguntas Frecuentes</a></li>
          <li><a routerLink="/terminos" class="text-belgrano-celeste text-decoration-none">Términos y Condiciones</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-md-end">
        <h5>Síguenos</h5>
        <div class="social-links">
          <a href="https://www.facebook.com/ClubBelgranoCordoba/?locale=es_LA" class="text-belgrano-celeste me-3" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
          <a href="https://x.com/Belgrano" class="text-belgrano-celeste me-3" target="_blank" rel="noopener noreferrer"><i class="fab fa-x-twitter"></i></a>
          <a href="https://www.instagram.com/clubatleticobelgrano/" class="text-belgrano-celeste me-3" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@belgranocanal" class="text-belgrano-celeste me-3" target="_blank" rel="noopener noreferrer"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer> 